<mat-card>
  <h4>Overall Top 5 Songs</h4>

  <div class="example-list">
    <div class="example-box" *ngFor="let selectedSong of rankedSongs; let i = index">
      {{ '#' + (i + 1) + ': ' + selectedSong.artist + ' - ' +  selectedSong.songName + ' (' + selectedSong.timesChosen + ' votes)' }}
    </div>
  </div>
</mat-card>
