<div class="container">
  <header class="text-center">
    <h1>MY RADIO</h1>
    <h3>Song suggestion</h3>
  </header>
  
  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="userInfo">
      <form [formGroup]="userInfo" class="text-center">
        <ng-template matStepLabel>Choose a nickname</ng-template>
        <mat-form-field class="w-50">
          <input matInput placeholder="Nickname" formControlName="nickname" required>
        </mat-form-field>
        <div>
          <button mat-raised-button matStepperNext color="primary" class="btn-xl">Select songs <mat-icon>skip_next</mat-icon></button>
        </div>
      </form>
    </mat-step>
    <mat-step #step>
      <ng-template matStepLabel>Select your favorite songs</ng-template>
      <div fxLayout="row wrap" fxLayoutGap="20px">
        <div fxFlex.xl="60%"  fxFlex.lt-sm="100%">
          <app-song-list [selectedSongs]="selectedSongs" (songSelection)="onSongSelection($event)"></app-song-list>
        </div>
        <div fxFlex.xl="30%" fxFlex.lt-sm="100%" style="top: 65px;position: relative;">
          <app-song-sorting [selectedSongs]="selectedSongs" (removeSong)="removeSong($event)"></app-song-sorting>

          <div class="mt-2 text-right">
            <button mat-raised-button matStepperPrevious color="primary" class="mr-1 btn-xl"><mat-icon>skip_previous</mat-icon> Back</button>
            <button mat-raised-button color="primary"(click)="submitSongs(stepper, step)" class="btn-xl"><mat-icon>playlist_add_check</mat-icon> Submit songs</button>
          </div>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done!</ng-template>
      Thank you so much for your contribution! Our system will calculate the final result and the most voted songs will be played at our nice radio!
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
