<div class="container">
  <div class="text-center">
    <button (click)="processRanking()" mat-raised-button color="primary" class="btn-xl">Process</button>
  </div>

  <div class="mt-2">
    <div fxLayout="row" fxLayoutGap="20px">
      <div fxFlex.xl="48%"  fxFlex.lt-sm="100%">
        <app-song-ranking [rankedSongs]="rankedSongs"></app-song-ranking>
      </div>
      <div fxFlex.xl="48%" fxFlex.lt-sm="100%">
        <app-user-ranking></app-user-ranking>
      </div>
    </div>
  </div>

</div>


