<mat-card>
  <h4>Your top selections</h4>
  <em>(You can switch places by dragging!)</em>

  <br>

  <div cdkDropList class="dragndrop-list" (cdkDropListDropped)="drop($event)">
    <div class="dragndrop-box" *ngFor="let selectedSong of selectedSongs; let i = index" cdkDrag>
      {{ '#' + (i + 1) + ': ' + selectedSong.name }} <mat-icon class="c-pointer" (click)="removeSongFromSelectedList(i)">close</mat-icon>
    </div>
  </div>
</mat-card>
