<mat-form-field class="w-100">
  <input #searchTerm matInput placeholder="Search by music, artist or genre"  (keyup)="filterDatatable(searchTerm.value)">
</mat-form-field>

<ngx-datatable
  #NgxDatatable
  class="material"
  [rows]="songList"
  [columns]="datatable.columns"
  columnMode="force"
  headerHeight="50"
  footerHeight="50"
  rowHeight="auto"
  [limit]="10"
  [messages]="datatable.messages"
  [selectionType]="enum.SelectionType.multiClick"
  (select)="onSelect($event.selected, NgxDatatable)">
</ngx-datatable>