<div class="container">
  <p>
    These are some links I consulted in the process of developing this application.
  </p>
  
  <mat-list role="list">
    <mat-list-item role="listitem">
      https://docs.microsoft.com/en-us/dotnet/architecture/microservices/multi-container-microservice-net-applications/data-driven-crud-microservice
    </mat-list-item>
    <mat-list-item role="listitem">
      https://github.com/dotnet-architecture/eShopOnContainers
    </mat-list-item>
    <mat-list-item role="listitem">
      https://microservices.io/patterns/apigateway.html
    </mat-list-item>
    <mat-list-item role="listitem">
      https://www.ben-morris.com/api-gateways-and-the-dangers-of-creeping-middleware-scope/
    </mat-list-item>
    <mat-list-item role="listitem">
      https://www.nginx.com/blog/building-microservices-using-an-api-gateway/
    </mat-list-item>
    <mat-list-item role="listitem">
      https://www.treinaweb.com.br/blog/criando-um-api-gateway-com-asp-net-core-e-ocelot/
    </mat-list-item>
    <mat-list-item role="listitem">
      https://material.angular.io/
    </mat-list-item>
    <mat-list-item role="listitem">
      https://altkomsoftware.pl/en/blog/service-discovery-eureka/
    </mat-list-item>
    <mat-list-item role="listitem">
      https://putridparrot.com/blog/a-net-service-registered-with-eureka/
    </mat-list-item>
  </mat-list>

</div>  
