// material
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

// ours
@import './modules/sizes';
@import './modules/text';
@import './modules/spacing';
@import './modules/containers';
@import './modules/buttons';
@import './modules/material-overrides/mat-overrides.scss';

html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #F6F8F9;
}

.c-pointer {
  cursor: pointer;
}
